node_modules/
dist/
.DS_Store
scripts/
.env*
.firebase*
.vite*
public/
vite*
src/firebase/firebaseConfig.js
src/firebase/firebase_pj.js
src/chrome-extension/firebase.extends.js
/src/chrome-extension-obfuscated*